<%- include('partials/header') %>

    <div class="py-5 text-center">
        <h1>Welcome</h1>
        <p class="lead">Simple Node.js MVC CRUD for Suppliers & Products</p>
        <a href="/suppliers" class="btn btn-primary">Go to Suppliers</a>
        <a href="/products" class="btn btn-secondary">Go to Products</a>
    </div>

    <%- include('partials/footer') %>